# Plugin info
plugin.name = sudoers
plugin.version = 1.0.0
plugin.description = Lider Sudoers Plugin
plugin.machine.oriented = false
plugin.user.oriented = true
plugin.policy.plugin = true
plugin.x.based = false
# Plugin distro
plugin.distro.host = repo.liderahenk.org.tr
plugin.distro.username = distro
plugin.distro.password = !Distr0
plugin.distro.path = /opt/ahenk-distro/sudoers-1.0.0-SNAPSHOT.deb